<?xml version="1.0"?>
<connectionStrings>
	<clear />
	<add name="zWebSrvCN"
 providerName="System.Data.SqlClient"
 connectionString="Data Source=NAMAAD35-w7;
	 Initial Catalog=ZWebNamaad;Persist Security Info=True;User ID=sa;Password=;" />
	<add name="ZMobileUserCN" providerName="System.Data.SqlClient" connectionString="Initial Catalog=ZMobileUser;
				 data source=NAMAAD35-w7;Persist Security Info=True;User ID=sa;Password=;"/>
</connectionStrings>
