<?xml version="1.0"?>
<connectionStrings>
	<clear />
	<add name="zWebSrvCN"
 providerName="System.Data.SqlClient"
 connectionString="Data Source=NAMAADNT64\SQL2008;
	 Initial Catalog=ZWebNamaad;Persist Security Info=True;User ID=sa;Password=2222;" />
	<add name="ZMobileUserCN" providerName="System.Data.SqlClient" connectionString="Initial Catalog=ZMobileUser;
				 data source=NAMAADNT64\SQL2008;Persist Security Info=True;User ID=sa;Password=2222;"/>
</connectionStrings>
