<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <authentication mode="None"/>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
    <membership defaultProvider="NmdSqlMembershipProvider">
      <providers>
        <clear/>
        <add name="NmdSqlMembershipProvider" connectionStringName="ZMobileUserCN" applicationName="NmdMobileWCFService" type="System.Web.Security.SqlMembershipProvider"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="NmdSqlRoleProvider">
      <providers>
        <clear/>
        <add name="NmdSqlRoleProvider" connectionStringName="ZMobileUserCN" applicationName="NmdMobileWCFService" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <httpModules>
      <add name="BasicAuthenticationModule" type="Module.UserNameAuthenticator,UserAuthenticator"/>
    </httpModules>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceAuthorization principalPermissionMode="UseAspNetRoles" roleProviderName="NmdSqlRoleProvider">
            <authorizationPolicies>
              <add policyType="AuthorizationPolicy.HttpContextPrincipalPolicy, AuthorizationPolicy, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
            </authorizationPolicies>
          </serviceAuthorization>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicBindingConfiguration">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="Service">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBindingConfiguration" name="basicEndpoint" contract="IService"/>
        <endpoint address="mex" binding="mexHttpsBinding" bindingConfiguration="" name="MexEndpoint" contract="IMetadataExchange"/>
      </service>
    </services>
    <protocolMapping/>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <defaultDocument>
      <files>
        <add value="Service.svc"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <connectionStrings configSource="connections.config"/>
</configuration>